* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */

header {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  color: orange;
}

/* Hero */

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url("Images/photo_2026-02-03_17-01-57.jpeg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-buttons a {
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.btn-main {
  background: orange;
  color: black;
}

.btn-second {
  border: 2px solid white;
  color: white;
}

/* About */

.about {
  background: #111;
  color: white;
  padding: 60px 15%;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  line-height: 1.7;
  margin-bottom: 15px;
}

/* Reviews */

.reviews {
  background: #f5f5f5;
  padding: 60px 10%;
  text-align: center;
}

.reviews h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.review-box {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
}

.review {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.review h4 {
  margin-bottom: 10px;
  color: orange;
}
