* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
}

/* HEADER */

header {
  position: fixed;
 	top: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

.lang {
  opacity: 0.7;
}

/* HERO */

.hero {
  height: 100vh;
  background:
  linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)),
  url("/photo1.jpeg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

/* BUTTONS */

.btn {
  padding: 15px 25px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.btn.main {
  background: orange;
  border: none;
  color: black;
}

.btn.main:hover {
  background: darkorange;
}


/* MENU */

.menu {
  padding: 100px 50px;
  text-align: center;
}

.menu h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}

.card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
}

.card p {
  opacity: 0.7;
}

.card span {
  display: block;
  margin: 15px;
  font-weight: bold;
  color: orange;
}


/* CONTACT */

.contact {
  padding: 100px 30px;
  background: #141414;
  text-align: center;
}

.contact p {
  margin: 20px 0;
  font-size: 18px;
}


/* FOOTER */

footer {
  padding: 20px;
  background: black;
  text-align: center;
  opacity: 0.6;
}
